selector{

}
 body {
    background-color: #c2c6c6e6;
    background-size: cover;
    border-radius: 20px;
    border-top:    #ededed solid 50px;
    border-bottom: #ededed solid 50px;
    border-left:   #ededed solid 310px;
    border-right:  #ededed solid 310px;
    padding: 10px;
    margin : 1px;
#one{
    display: flex;
    align-items: center;
    justify-content: left;   
}

.country {
    width: 25vw;
}

.box{
    width: 20vw;
}
.comments{
    width: 20vw;
    height: 10vh;

}
.lline {
    width: 800px;
}

  }
    h2 {
        color: #ff0000;
        text-align: left;
        border: SPX solid rgb(red green, blue);
    }

   .inline {
    display: inline-block;
    width: 270px;
    text-align:end;
   }
   img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
   }

   .reset {
  padding: 3px 9px;
  border-style: solid;
  color: rgb(7, 7, 7);
  background-color: #fbfafa7e;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; 
}

.submit {
  padding: 3px 9px;
  border-style: solid;
  color: rgb(7, 7, 7);
  background-color: #fbfafa7e;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; 
}

#fix {
    margin: 0;
margin-left: 10%;
    /* position: relative;s */
    /* left:20% */
}



   